<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CollectMeBot - Collection</title>
	    <link rel="icon" type="image/x-icon" href="{{asset('/images/eevee_icon.ico')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
