{% block footer %}
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p>This bot was made by <a href="https://github.com/DasEvoli">DasEvoli - Vinzenz Wetzel.</a><br>You can find me on Discord: dasevoli</p>
				</div>
				<div class="col-12 text-center">
					<p>If you want to make me happy, you can support me here:</p>
					<div class="paypal__img ms-auto me-auto">
						<a href="https://paypal.me/wetzelvinzenz"><img src="{{ asset('images/paypal.png') }}" alt="PayPal Logo"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}